* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn {
  color: white;
  position: relative;
  padding: 15px 32px;
  font-size: 16px;
  background-color: grey;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.1s;
  width: 200px;
}

.btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  background-color: darkgray;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0px;
}

li, img {
  max-width: 500px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.wait-message {
  color: black;
}

.hidden {
  display: none;
}

h2 {
  padding: 5px 0px 0px 5px;
}

#img-bio {
  display: block;
  margin-left: left;
  margin-right: auto;
  width: 40%;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0px 0px 5px 5px;
}

#img-bio:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#artwork-indent {
  text-indent: 30px;
}